Requirements
---------------
r1: "a" -> ["a"]
r2: "ab" -> ["ab", "ba"]
r3: "abc" -> ["abc", "acb", "bac", "bca", "cab", "cba"]

--
Final test case / requirement: 
Case 04: "brio" -> [biro bior brio broi boir bori
                    ibro ibor irbo irob iobr iorb
                    rbio rboi ribo riob roib robi
                    obir obri oibr oirb orbi orib]


